<nav class="header-nav">
   <img class="header-logo" src="https://img.icons8.com/color/48/000000/nodejs.png"/>
   <ul class="header-ul">
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
<style>
   .header-nav{
       box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px 1px !important;
       background: #b9fffc;
   }
   .header-ul{
    display:flex;
    justify-content:space-between;
    width:20%;
    align-items: center;
}

   .header-ul li{
    list-style-type:none;
    font-weight:bold;
    text-decoration: none;
    font-family: 'Padauk', sans-serif;
}
   .header-ul li a{
    text-decoration: none;
    font-size: 18px;
}
   .header-nav{
    display:flex;
    justify-content:space-between;
    padding:0 10%
}
   .header-logo{
    width:6%;
}

</style>
