{{>header}}
<main>
<div class="create-film content">
 <form action="/createFilms" method="POST">
 <label for="name">Film name:</label>
 <input type="text" id="naem" name="name" required>
 <label for="description">Film description:</label>
 <input type="text" id="description" name="description" required>
 <label for="body">Film image:</label>
 <input type="text" id="image" name="image" required>
  <label for="body">Film Url:</label>
 <input type="text" id="link" name="link" required>
 <button>Submit</button>
 </form>   
</div>
</main>